@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

.focus-button:focus {
    /* Your focus styles here */
    outline: none; /* Example: Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5); /* Example: Add a blue border on focus */
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
h2 {
    font-size: 22px;
}
p {
    line-height: 1.5;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

}
p a {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
}
p strong {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    margin-bottom: 2.75rem; 
}